.bottone,
.MBI-okButton,
.MBI-resetButton {
  padding: 3px 6px;
  border-radius: 5px;
  margin: 3px;
  font-size: 16px;
  box-shadow: #d3d3d3 2px 2px 3px;
}
.MBI-Overlay {
  background-color: #000;
  opacity: 0.7;
}
.MBI-Box html,
.MBI-Box body,
.MBI-Box div,
.MBI-Box span,
.MBI-Box applet,
.MBI-Box object,
.MBI-Box iframe,
.MBI-Box h1,
.MBI-Box h2,
.MBI-Box h3,
.MBI-Box h4,
.MBI-Box h5,
.MBI-Box h6,
.MBI-Box p,
.MBI-Box blockquote,
.MBI-Box pre,
.MBI-Box a,
.MBI-Box abbr,
.MBI-Box acronym,
.MBI-Box address,
.MBI-Box big,
.MBI-Box cite,
.MBI-Box code,
.MBI-Box del,
.MBI-Box dfn,
.MBI-Box em,
.MBI-Box img,
.MBI-Box ins,
.MBI-Box kbd,
.MBI-Box q,
.MBI-Box s,
.MBI-Box samp,
.MBI-Box small,
.MBI-Box strike,
.MBI-Box strong,
.MBI-Box sub,
.MBI-Box sup,
.MBI-Box tt,
.MBI-Box var,
.MBI-Box b,
.MBI-Box u,
.MBI-Box i,
.MBI-Box center,
.MBI-Box dl,
.MBI-Box dt,
.MBI-Box dd,
.MBI-Box ol,
.MBI-Box ul,
.MBI-Box li,
.MBI-Box fieldset,
.MBI-Box form,
.MBI-Box label,
.MBI-Box legend,
.MBI-Box table,
.MBI-Box caption,
.MBI-Box tbody,
.MBI-Box tfoot,
.MBI-Box thead,
.MBI-Box tr,
.MBI-Box th,
.MBI-Box td,
.MBI-Box article,
.MBI-Box aside,
.MBI-Box canvas,
.MBI-Box details,
.MBI-Box embed,
.MBI-Box figure,
.MBI-Box figcaption,
.MBI-Box footer,
.MBI-Box header,
.MBI-Box hgroup,
.MBI-Box menu,
.MBI-Box nav,
.MBI-Box output,
.MBI-Box ruby,
.MBI-Box section,
.MBI-Box summary,
.MBI-Box time,
.MBI-Box mark,
.MBI-Box audio,
.MBI-Box video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.MBI-Box article,
.MBI-Box aside,
.MBI-Box details,
.MBI-Box figcaption,
.MBI-Box figure,
.MBI-Box footer,
.MBI-Box header,
.MBI-Box hgroup,
.MBI-Box menu,
.MBI-Box nav,
.MBI-Box section {
  display: block;
}
.MBI-Box ol,
.MBI-Box ul {
  list-style: none;
}
.MBI-Box blockquote,
.MBI-Box q {
  quotes: none;
}
.MBI-Box blockquote:before,
.MBI-Box blockquote:after,
.MBI-Box q:before,
.MBI-Box q:after {
  content: '';
  content: none;
}
.MBI-Box table {
  border-collapse: collapse;
  border-spacing: 0;
}
.MBI-Overlay html,
.MBI-Overlay body,
.MBI-Overlay div,
.MBI-Overlay span,
.MBI-Overlay applet,
.MBI-Overlay object,
.MBI-Overlay iframe,
.MBI-Overlay h1,
.MBI-Overlay h2,
.MBI-Overlay h3,
.MBI-Overlay h4,
.MBI-Overlay h5,
.MBI-Overlay h6,
.MBI-Overlay p,
.MBI-Overlay blockquote,
.MBI-Overlay pre,
.MBI-Overlay a,
.MBI-Overlay abbr,
.MBI-Overlay acronym,
.MBI-Overlay address,
.MBI-Overlay big,
.MBI-Overlay cite,
.MBI-Overlay code,
.MBI-Overlay del,
.MBI-Overlay dfn,
.MBI-Overlay em,
.MBI-Overlay img,
.MBI-Overlay ins,
.MBI-Overlay kbd,
.MBI-Overlay q,
.MBI-Overlay s,
.MBI-Overlay samp,
.MBI-Overlay small,
.MBI-Overlay strike,
.MBI-Overlay strong,
.MBI-Overlay sub,
.MBI-Overlay sup,
.MBI-Overlay tt,
.MBI-Overlay var,
.MBI-Overlay b,
.MBI-Overlay u,
.MBI-Overlay i,
.MBI-Overlay center,
.MBI-Overlay dl,
.MBI-Overlay dt,
.MBI-Overlay dd,
.MBI-Overlay ol,
.MBI-Overlay ul,
.MBI-Overlay li,
.MBI-Overlay fieldset,
.MBI-Overlay form,
.MBI-Overlay label,
.MBI-Overlay legend,
.MBI-Overlay table,
.MBI-Overlay caption,
.MBI-Overlay tbody,
.MBI-Overlay tfoot,
.MBI-Overlay thead,
.MBI-Overlay tr,
.MBI-Overlay th,
.MBI-Overlay td,
.MBI-Overlay article,
.MBI-Overlay aside,
.MBI-Overlay canvas,
.MBI-Overlay details,
.MBI-Overlay embed,
.MBI-Overlay figure,
.MBI-Overlay figcaption,
.MBI-Overlay footer,
.MBI-Overlay header,
.MBI-Overlay hgroup,
.MBI-Overlay menu,
.MBI-Overlay nav,
.MBI-Overlay output,
.MBI-Overlay ruby,
.MBI-Overlay section,
.MBI-Overlay summary,
.MBI-Overlay time,
.MBI-Overlay mark,
.MBI-Overlay audio,
.MBI-Overlay video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.MBI-Overlay article,
.MBI-Overlay aside,
.MBI-Overlay details,
.MBI-Overlay figcaption,
.MBI-Overlay figure,
.MBI-Overlay footer,
.MBI-Overlay header,
.MBI-Overlay hgroup,
.MBI-Overlay menu,
.MBI-Overlay nav,
.MBI-Overlay section {
  display: block;
}
.MBI-Overlay ol,
.MBI-Overlay ul {
  list-style: none;
}
.MBI-Overlay blockquote,
.MBI-Overlay q {
  quotes: none;
}
.MBI-Overlay blockquote:before,
.MBI-Overlay blockquote:after,
.MBI-Overlay q:before,
.MBI-Overlay q:after {
  content: '';
  content: none;
}
.MBI-Overlay table {
  border-collapse: collapse;
  border-spacing: 0;
}
.MBI-box {
  font-size: 16px;
  font-family: "Arial";
  padding: 0 0 10px 0px;
  border-radius: 0 0 10px 10px;
  box-shadow: #000 5px 15px 20px;
}
.MBI-titleBox {
  padding: 5px 0 5px 5px;
  background-color: #6495ed;
}
.MBI-titleBox .MBI-Text {
  color: #fff;
}
.MBI-closeButton {
  color: #fff;
  width: 18px;
  height: 18px;
  background-color: #f00;
}
.MBI-TextBox {
  text-align: center;
  padding: 10px 0;
}
.MBI-inputBox {
  padding: 10px;
  clear: both;
}
.MBI-inlineInputBox {
  padding: 5px 0 0 0;
}
.MBI-inlineInputBox label {
  display: inline-block;
  width: 25%;
  text-align: right;
  padding-right: 10px;
}
.MBI-inlineInputBox input {
  display: inline-block;
  width: 60%;
  height: 22px;
  font-size: 16px;
  padding-left: 3px;
  border-radius: 5px;
}
.MBI-ErrorText {
  text-align: center;
  color: #f00;
}
.MBI-buttonBox {
  text-align: center;
}
